<div class="mainContainer">
	<div class="firstBlock" style="height: 100vh; text-align: center; display: flex;align-items: center; justify-content: center;">
		<h1>The First Section</h1>
	</div>
	<div class="boxes ">
		<div style="position: absolute;" class="insideBox">
			The insiders
		</div>
	</div>
	<div class="boxes ">
		<div data-aos="fade-up" style="position: absolute; right: 20%;" class="insideBox">
			The insiders
		</div>
	</div>
	<div class="boxes " >
		<div data-aos="fade-down" style="position: absolute; left: 20%;" class="insideBox">
			The insiders
		</div>
	</div>
	<div class="boxes " >
		<div data-aos="fade-right" data-aos-duration="800" style="position: absolute; right: 10%;" class="insideBox">
			The insiders
		</div>
	</div>
	<div class="boxes " >
		<div data-aos="fade-left" data-aos-duration="1400" style="position: absolute; left: 10%;" class="insideBox">
			The insiders
		</div>
	</div>
	<div class="boxes " >
		<div data-aos="fade-up-right" data-aos-duration="800" style="position: absolute; right: 20%;" class="insideBox">
			The insiders
		</div>
	</div>
	<div class="boxes " >
		<div data-aos="fade-up-left" data-aos-duration="800" style="position: absolute; left: 20%;" class="insideBox">
			The insiders
		</div>
	</div>
	<div class="boxes " >
		<div data-aos="fade-down-right" data-aos-duration="800" style="position: absolute; right: 10%;" class="insideBox">
			The insiders
		</div>
	</div>
	<div class="boxes " >
		<div data-aos="fade-down-left" data-aos-duration="800" style="position: absolute; left: 10%;" class="insideBox">
			The insiders
		</div>
	</div>
	<div class="boxes " >
		<div data-aos="flip-left" data-aos-duration="800" style="position: absolute; right: 20%;" class="insideBox">
			The insiders
		</div>
	</div>
	<div class="boxes " >
		<div data-aos="flip-right" data-aos-duration="800" style="position: absolute; left: 20%;" class="insideBox">
			The insiders
		</div>
	</div>
	<div class="boxes " >
		<div data-aos="flip-up" data-aos-duration="800" style="position: absolute; right: 10%;" class="insideBox">
			The insiders
		</div>
	</div>
	<div class="boxes " >
		<div data-aos="flip-down" data-aos-duration="800" style="position: absolute; left: 10%;" class="insideBox">
			The insiders
		</div>
	</div>
	<div class="boxes " >
		<div data-aos="zoom-out-up" data-aos-duration="800" style="position: absolute; right: 20%;" class="insideBox">
			The insiders
		</div>
	</div>
	<div class="boxes " >
		<div data-aos="zoom-in-down" data-aos-duration="1000" style="position: absolute; left: 20%;" class="insideBox">
			The insiders
		</div>
	</div>

	<div class="boxes " >
		<div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1500" style="position: absolute; right: 20%;" class="insideBox">
			The insiders
		</div>
	</div>
	<div class="boxes " >
		<div data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1500" style="position: absolute; left: 20%;" class="insideBox">
			The insiders
		</div>
	</div>
</div>
